<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <script src="/script.js" defer></script>
    <title>New Product</title>
  </head>

  <body>
    <h1>Add New Product</h1>
    <form onsubmit="return validate();" id="newproductform" method="post">
      <div>
        <label for="id">ID</label>
        <input id="id" name="id">
      </div>
      <div>
        <label for="name">Name</label>
        <input id="name" name="name">
      </div>
      <div>
        <label for="price">Price</label>
        <input id="price" name="price">
      </div>
      <div>
        <label for="description">Description</label>
        <input id="description" name="description">
      </div>
      <div>
        <input type="submit" name="act" value="Submit">
      </div>
    </form>
  </body>
</html>
